@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-start-rgb: 179, 217, 255, 0;
    --background-mid-rgb: 0, 119, 190, 0.2;
    --background-end-rgb: 179, 217, 255, 0;
}

/* body {
    background: linear-gradient(
        to bottom,
        rgba(var(--background-start-rgb)),
        rgba(var(--background-mid-rgb)),
        rgba(var(--background-end-rgb))
    );
} */
